<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      keepVariablesOnReload="true"
      throwConfigExceptions="true">

  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>
  
  <variable name="appname" value=""/>
  <variable name="version" value="${gdc:item=assemblyVersion:WhenEmpty=${assembly-version}}"/>
  <variable name="logs-path" value="${basedir}/../log"/>
  <variable name="log-filename" value="${var:logs-path}/${var:appname}.log"/>
  <variable name="log-filename-full" value="${var:logs-path}/${var:appname}.full.log"/>
  <variable name="defaultLayout" value="${longdate}  ${processid}+${threadid}  ${level} ${pad:padding=40:fixedLength=true:inner=${right:inner=${logger}:length=40}:alignmentOnTruncation=Right}  ${message} ${exception:format=tostring}"/>

  <targets>
    <default-wrapper xsi:type="AsyncWrapper" queueLimit="50000" optimizeBufferReuse="true"/>
    <default-target-parameters xsi:type="File" concurrentWrites="true" keepFileOpen="true"
                               maxArchiveFiles="1" archiveNumbering="Rolling" />

    <target name="log-file" xsi:type="File" fileName="${log-filename}" archiveEvery="Day" layout="${defaultLayout}" />
    <target name="log-file-full" xsi:type="File" fileName="${log-filename-full}" archiveEvery="Day" layout="${defaultLayout}" />
    <target name="console" xsi:type="Console" layout="${defaultLayout}" />
    <target name="null-target" xsi:type="Null" />
  </targets>

  <rules>
    <!-- Console log -->
    <logger name="*" minlevel="Trace" writeTo="console"/>
    
    <!-- File log -->
    <logger name="*" minlevel="Trace" writeTo="log-file-full" />
    <logger name="Microsoft.*" minlevel="Trace" final="true" />
    <logger name="*" minlevel="Trace" writeTo="log-file" />
  </rules>
</nlog>
